@model IEnumerable<Test1.Models.Shelf>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a class="btn btn-primary" asp-action="Create">Add Shelf</a>
</p>
<table class="table table-bordered table-striped">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RackId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RackId)
            </td>
            <td>
                <a class="btn btn-primary m-2" asp-action="Edit" asp-route-id="@item.ShelfId">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.ShelfId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ShelfId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
